*{
    margin: 0%;
    font-family: 'inter'
}

#header{
    background-color: #303030;
}

#title{
    color: #ffff;
    font-size: 400%;
    padding-top: 10%;
    margin-left: 5%;
}

#text{
    color: #ffff;
    padding-top: 0.5%;
    padding-bottom: 10%;
    margin-left: 5%;
    font-size: 150%;
}

#information{
    background: #F9F9F9;
    padding-bottom: 5%;
}

#informationTitle{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    text-align: center;
    padding-top: 5%;
    font-size: 150%;
}

#informationText{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    text-align: center;
    font-size: 150%;
}

#firstInformationText{
    padding-left: 33%;
}

#secondInformationText{
    padding-left: 16%;
}

#thirtInformtionText{
    padding-right: 14%;
}

#midlePanel{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#imageMidlePanel{
    margin: 10% 0% 10% 17%
    
   
}

#titleMidlePanel{
    font-size: 290%;
    margin: 22% 0% 0% 15%
}

#textMidlePanel{
    font-size:  176%;
    text-align: justify;
    margin-left: 15%;
    margin-top: 4%;    
}

#form{
    background: #303030;
    text-align: center;
}

#titleForm{
    color: #ffff; 
    font-size: 240%;
    padding-top: 5%;
    margin-bottom: 2%;
}

input{
    Width: 504px;
    Height: 72px;
    border: none;
    border-radius: 9%;
    margin: 1.5% 0% 2% 0%;
    padding-left: 2%
    
}

.textForm{
    font-size: 200%;
}

button{
    Width : 15%;
    height: 74px;
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 180%;
    font-weight: bolder;
    color: #e0e0e0;
    background-color: #C07212;
    border: none;
    border-radius: 10%;
    cursor: pointer;   
    
}

button:hover {
    background-color: #df8517;
    color: #ffffff;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #72451181;
    transition-duration: 0.8s;
}



